/*.main-wrapper{
    header.d-flex{
        background: #0052D4;  !* fallback for old browsers *!
        background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #3f5fe4);
        background: linear-gradient(to right, #6FB1FC, #4364F7, #3f5fe4);
    }
}*/

/*
#myHeader{
    height:75px;
}
*/
