body, a,.vs-sidebar--item m-1, .con-vs-card, .vs-card--content{
    font-family: $font-family-sans-serif !important;
    font-size: $font-size-base !important;
}

.text-logo{
    font-size:20px;
    letter-spacing:2px;
    color: $primary;
    font-family: $font-family-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: $font-family-serif;
}
